<%= link_to user_videos_path(@user, @videos) do %>
  <div class="flex items-center justify-center p-8 bg-white rounded-lg">
    <div>

        <img src="https://res.cloudinary.com/dmlfirids/image/upload/v1663060224/restaurant/restaurant1.jpg", style="height:200px; width: 200px" class="d-block rounded-lg" alt="restaurant image">

      <h4 class="font-bold mt-3 text-center"><%=%>Videos</h4>
    </div>
  </div>
<% end %>

<%= link_to user_reports_path(@user, @reports) do %>
  <div class="flex items-center justify-center p-8 bg-white rounded-lg">
    <div>

        <img src="https://res.cloudinary.com/dmlfirids/image/upload/v1663060224/restaurant/restaurant1.jpg", style="height:200px; width: 200px" class="d-block rounded-lg" alt="restaurant image">

      <h4 class="font-bold mt-3 text-center"><%=%>Reports</h4>
    </div>
  </div>
<% end %>

<%= link_to user_settings_path(@user, @settings) do %>
  <div class="flex items-center justify-center p-8 bg-white rounded-lg">
    <div>

        <img src="https://res.cloudinary.com/dmlfirids/image/upload/v1663060224/restaurant/restaurant1.jpg", style="height:200px; width: 200px" class="d-block rounded-lg" alt="restaurant image">

      <h4 class="font-bold mt-3 text-center"><%=%>Settings</h4>
    </div>
  </div>
<% end %>
