<%= link_to user_videos_path do %>
      <% end %>
<%= simple_form_for @video, url: user_videos_path do |f| %>
  <div>
    <%= f.input :title %>
    <%= f.input :cadence_step %>
    <%= f.input :addressed %>
    <%= f.input :file, as: :file %>
  </div>
  <div class="flex justify-start items-center pt-8">
    <div class="flex justify-center items-center h-10 rounded-lg bg-black">
      <%= f.submit "Create", class: "text-xl mx-8 text-white" %>
    </div>
  </div>
<% end %>
