<%= render "users/useroptions", users: @users %>

<div class="page-wrap">



  <div style="display:flex; justify-content:space-between; margin: 10px 20px">
    <h1>Videos</h1>
    <button class="btn btn-primary"><%= link_to "Upload", new_user_video_path(@user, @video) %></button>  <br>

  </div>



<div class="flex-wrapper" style="display: flex; justify-content: center">
  <% @videos.each do |video| %>
    <div class="card" style="width: 18rem; margin: 20px 20px;">
      <% if video.file.attached? %>
          <%= cl_video_tag video.file.key, height: 120, crop: :fill, class: "d-block rounded-lg" %>
      <% else %>
        <img src="https://t3.ftcdn.net/jpg/04/34/72/82/360_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg" class="card-img-top" style="height:50%" alt="...">
      <% end %>
      <div class="card-body">
        <h5 class="card-title" ><%= video.title.capitalize %></h5>
        <p class="card-text"><%=video.cadence_step.capitalize%></p>
        <p class="card-text"><%=video.addressed.capitalize%></p>
        <div style="display:flex; justify-content:space-between">
          <div><a href="#" class="btn btn-primary">Generate</a></div>
          <div class="flex-justify">
            <i class="fa-solid fa-pen-to-square"></i>
            <i class="fa-solid fa-clone"></i>
            <i class="fa-solid fa-trash"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


  <div style="display:flex; justify-content:space-between; margin: 10px 20px">
    <h1>Backgrounds</h1>
    <button class="btn btn-primary"><%= link_to "", new_user_video_path(@user, @video) %>Upload</button>  <br>
  </div></div>

<p>need to find a way to render the backgrounds into this part of the page</p>
