<h1>Pages#home</h1>

<%
  clientname = "Stu"
  clientcompany = "GoCardless"
  prospectname = "Viewer"
  prospectcompany = "Macquarie"
  prospecturl = "macquarie.com.au"
  companyurl = "gocardless.com"
  favicon = "https://sore-fuchsia-tiger.faviconkit.com/"
  clientmeetinglink = "https://www.google.com"
  # cld-vid-id = "result_3i2euyh_bnznhz"
  # cld-bg-id = "room_with_board_gtazil"
  # video-link "https://res.cloudinary.com/dth8lnhas/video/upload/dl_0/a_180/c_fill,u_"cld-bg-id",w_1280,x_0/v1665164526/"cld-vid-id".mp4"delay

  delay = "#t=0.5"
%>
<%# use interpolation below %>
<p>Video for <%= prospectname %> @ <%= prospectcompany %> </p>

<img src="https://sore-fuchsia-tiger.faviconkit.com/gocardless.com/16">
<img src=<%=favicon%><%=prospecturl%><%="/60"%>>

<div class="wrapper">
  <div id="video_box">
    <div id="video_overlays">Hi Stuart GoCardless // Macquarie</div>
    <video width="560" height="315" controls preload="metadata" >
      <source src= "https://res.cloudinary.com/dth8lnhas/video/upload/dl_0/a_180/c_fill,u_room_with_board_gtazil,w_1280,x_0/v1665164526/result_3i2euyh_bnznhz.mp4#t=0.1" type="video/mp4" allowfullscreen=0>
      <source src="mov_bbb.ogg" type="video/ogg">
      Your browser does not support HTML video.
    </video>
  </div>
</div>

<select class="form-select" aria-label="Default select example">
  <option selected>What is most important to you, <%= prospectname %>?</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>

<a class="btn btn-primary" href=<%= clientmeetinglink %> role="button">learn more</a>
