select background <br>
<%# display dropdown for backgrounds %>

select video overlay <br>
<%# display dropdown for videos %>

prospect first name (required) <br>
prospect last name (optional) <br>
prospect company (optional) <br>
prospect email (required) - why is this required? to be able to validate when a prospect has opened your message <br>
include meeting link? Boolean (yes/no) - the user must have a meeting link saved which they can do so in settings <br>

<%= bg_count = @user.backgrounds.size %>
  <img src="<%= @user.backgrounds[1].photo.url%>" alt="...">


      <% @user.backgrounds.each do |background| %>

        <img src="<%= background.photo.url%>" alt="...">
          <h5><%= background.title %></h5>


                  <% end %>

                </div>


<H1>Billy modal</H1>

<div class="flex flex-wrap content-start overflow-auto scroll-container">
    <h2>Select background</h2>

    <%= render "projects/bgmodal" %>
</div>

<%= link_to user_videos_path do %>
      <% end %>



  <%# <%= render "videos/form", video: @video %>



<div class="page-container pt-8">
  <div class="flex items-center justify-between mb-8">
    <div class="w-48">
    </div>
    <h2 class="text-xl font-bold">New Project</h2>
    <div class="w-48"></div>
  </div>
  <%= simple_form_for [@project], url: user_projects_path do |f| %>
  <div>
    <%= f.input :prospect_first %>
    <%= f.input :prospect_last %>
    <%= f.input :prospect_company %>
    <%= f.input :prospect_email %>
    <%= f.input :message %>
  </div>
  <div class="overflow-auto scroll-container mb-8 mx-8">
      <%= f.association :background, as: :check_boxes, input_html: { multiple: false } %>
  </div>
  <div class="overflow-auto scroll-container mb-8 mx-8">
      <%= f.association :video, as: :check_boxes, input_html: { multiple: false } %>
  </div>
  <div class="flex justify-start items-center pt-8">
    <div class="flex justify-center items-center h-10 rounded-lg bg-black">
      <%= f.submit "Create", class: "text-xl mx-8 text-white" %>
    </div>
  </div>
<% end %>
</div>
