
<p>need to include a meeting link</p>


<div class="wrapper">
  <div id="video_box">
    <div id="video_overlays"><%= @project.message %></div>
    <video width="560" height="315" controls preload="metadata" >
      <source src= "https://res.cloudinary.com/dth8lnhas/video/upload/dl_0/a_180/c_fill,u_development:<%= @project.background.photo.key %>,w_1280,x_0/v1665164526/development/<%= @project.video.file.key %>.mp4#t=0.1" type="video/mp4" allowfullscreen=0>
      <source src="mov_bbb.ogg" type="video/ogg">
      Your browser does not support HTML video.
    </video>
    <p>Video for <%= @project.prospect_first %> @ <%= @project.prospect_company %> </p>
  </div>
</div>
