<div class="w-1/2 bg-white rounded-lg">

  <div class="mt-8 mx-8">
    <h2 class="text-xl font-bold mb-3"> Available backgrounds </h2>
  </div>

  <%= simple_form_for [user, video, join_element] do |f| %>
    <div class="overflow-auto scroll-container mb-8 mx-8">
      <%= f.association :background, as: :check_boxes, input_html: { multiple: false } %>
    </div>
    <div class="flex justify-center items-center bg-white rounded-bl-lg rounded-br-lg p-8 border-t border-black z-10">
      <div class="flex justify-center items-center h-10 rounded-lg bg-black">
        <%= f.submit "Add to video", class: "text-xl mx-8 text-white" %>
      </div>
    </div>
  <% end %>
  <%= simple_form_for [user, video, join_element] do |f| %>
    <div class="overflow-auto scroll-container mb-8 mx-8">
      <%= f.association :video, as: :check_boxes, input_html: { multiple: false } %>
    </div>
    <div class="flex justify-center items-center bg-white rounded-bl-lg rounded-br-lg p-8 border-t border-black z-10">
      <div class="flex justify-center items-center h-10 rounded-lg bg-black">
        <%= f.submit "Add to video", class: "text-xl mx-8 text-white" %>
      </div>
    </div>
  <% end %>
</div>
